.settings/
.cproject
.project
.README*
*.o
*.a
Debug/
Release/
TestOut/
build/
build-debug/
doc/
/Debug/*
/Release/*
/TestOut/*
/build/*
/doc/*
/T32/
.*.md.html
/include/gtest/*
/include/gtest

build-msvc/*
build-msvc

build-msvcdebug/*
build-msvcdebug

build-clang/*
build-clang

build-gcc/*
build-gcc
